.background {
  @apply -z-10;

  &::after {
    @apply content-[''] fixed inset-0 -z-10 mix-blend-hard-light;

    background-size: 100% 100%;
    background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
      0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-image: radial-gradient(
        18% 28% at 24% 50%,
        #cefaffff 7%,
        #073aff00 100%
      ),
      radial-gradient(18% 28% at 18% 71%, #ffffff59 6%, #073aff00 100%),
      radial-gradient(70% 53% at 36% 76%, #73f2ffff 0%, #073aff00 100%),
      radial-gradient(42% 53% at 15% 94%, #ffffffff 7%, #073aff00 100%),
      radial-gradient(42% 53% at 34% 72%, #ffffffff 7%, #073aff00 100%),
      radial-gradient(18% 28% at 35% 87%, #ffffffff 7%, #073aff00 100%),
      radial-gradient(31% 43% at 7% 98%, #ffffffff 24%, #073aff00 100%),
      radial-gradient(21% 37% at 72% 23%, #d3ff6d9c 24%, #073aff00 100%),
      radial-gradient(35% 56% at 91% 74%, #8a4ffff5 9%, #073aff00 100%),
      radial-gradient(74% 86% at 67% 38%, #6dffaef5 24%, #073aff00 100%),
      linear-gradient(125deg, #4eb5ffff 1%, #4c00fcff 100%);

    animation: rotateHueFull 10s linear infinite;
  }
}

[data-theme="dark"] .background {
  &::after {
    @apply mix-blend-soft-light;
  }
}

.cursor {
  @apply hidden md:block fixed w-96 h-96 bg-white -z-10 -translate-x-1/2 -translate-y-1/2 rounded-full opacity-15 blur-3xl;
}

@keyframes rotateHue {
  0% {
    filter: hue-rotate(0deg);
  }

  25% {
    filter: hue-rotate(-20deg);
  }
  50% {
    filter: hue-rotate(0deg);
  }

  75% {
    filter: hue-rotate(20deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}

@keyframes rotateHueFull {
    to {
      filter: hue-rotate(360deg);
    }
  }
