.wrapper {
    position: absolute;
    inset: 0;
    mask-image: radial-gradient(#000 0.5px, transparent 0.5px);
    mask-size: 8px 8px;
    overflow: hidden;
    z-index: -10;
}

.cube {
    mix-blend-mode: lighten;
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background: oklch(var(--s) / 1);
    animation: bubble-up 25s linear infinite;
    bottom: -150px;
}

.cube:nth-child(1) {
    left: 25%;
    width: 110px;
    height: 110px;
    animation-delay: 0s;
}


.cube:nth-child(2) {
    left: 10%;
    width: 40px;
    height: 40px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.cube:nth-child(3) {
    left: 70%;
    width: 40px;
    height: 40px;
    animation-delay: 4s;
}

.cube:nth-child(4) {
    left: 40%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.cube:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.cube:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.cube:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.cube:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.cube:nth-child(9) {
    left: 20%;
    width: 45px;
    height: 45px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.cube:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes bubble-up {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}